
/* Estilos generales de la aplicación */

  body {
    background-color: #fff4e1; 
  }
.App {
  text-align: center;
}

/* Estilos para la barra de navegación */
.navbar-brand-text {
  color: black; /* Cambia "rosa" al color que desees */
}
.navbar {
  background-color: #fff4e1; /* Rosa pastel */

}

.navbar-brand {
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
}

/* Estilos para los botones */
.nav-item .nav-link {
  background-color: #ffb6c1; /* Azul */
  color: black !important;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
 
}

.nav-item .nav-link:hover {
  background-color: #B5D0CC; /* Azul oscuro al pasar el ratón */
}



.hero-container {
  position: relative;
  height: 60vh; /* Ajusta la altura al 60% de la ventana */
}

.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #B5D0CC; /* Fondo semi-transparente para mejorar la legibilidad */
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* Limita el ancho del cuadro */
}

.overlay-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.overlay-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}



/* Estilos para los servicios */

.services-container {
  background-color: #B5D0CC; /* Color de fondo específico para este bloque */
  padding: 20px; /* Añadir relleno para un mejor espaciado */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centrando el texto y las imágenes */
}

.services-container h2 {
  color: #333;
}

.services-container .row {
  margin-bottom: 20px;
}

.services-container img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
}

.services-container .service-description {
  margin-top: 10px;
}

.services-container p {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
}

.services-container .btn {
  margin-top: 10px;
  font-size: 0.9rem;

}
 /*our team */

.team-member-img {
  width: 500px; /* Ajusta el tamaño de las imágenes según tus preferencias */
  height: 500px;
  object-fit: cover; /* Ajusta el modo de ajuste para que las imágenes se vean bien en los círculos */
}


/*footer*/
.footer {
  background-color: #B5D0CC;
}
.footer-container {
  background-color: #B5D0CC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  margin-bottom: 20px; /* Espacio entre el logo y el texto */
}

.info-container {
  margin-bottom: 10px; /* Espacio entre el texto y los íconos sociales */
  background-color: #B5D0CC;
}

.social-container {
  display: flex;
 
  justify-content: flex-end; /* Alinea los íconos a la derecha */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  margin-top: -55px;
}

.social-container a {
  color: #ffE4e1; /* Cambia el color de los íconos si es necesario */
}