
/* Estilos generales de la aplicación */

  body {
    background-color: #fff4e1; 
  }
.App {
  text-align: center;
}

/* Estilos para los botones y enlaces de navegación */
.custom-navbar {
  background-color: #FFE4E1;
}
.custom-navbar-brand {
  padding: 10px 15px; /* Ajusta el padding según sea necesario */
  background-color: rgb(0, 38, 82);
  border-radius: 5px;
  color: white;
}



.custom-navbar-brand:hover {
 background-color: #ffb6c1; /* Cambia el color del texto al pasar el ratón por encima */
 color: rgb(0, 38, 82)  !important;
}

.custom-nav-link {
  color:  rgb(0, 38, 82) !important; /* Color del texto de los enlaces */
  background-color: #ffb6c1 !important; /* Color de fondo de los botones */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
}

.custom-nav-link:hover {
  background-color:  rgb(0, 38, 82) !important; /* Color de fondo al pasar el ratón */
  color: white !important;
}

.hero-container {
  position: relative;
  height: 60vh; /* Ajusta la altura al 60% de la ventana */
  background-color: rgb(0, 38, 82);
}
.logo {
  max-width: 29%;
 margin-left: 10px;
  margin-top: -10px;
}


.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #BCCCE1; /* Fondo semi-transparente para mejorar la legibilidad */
  padding: 20px;
  border-radius: 10px;
  max-width: 700px; /* Limita el ancho del cuadro */
}

.overlay-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(0, 71, 102);
}

.overlay-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: rgb(0, 71, 102);
}

.custom-btn {
  background-color: #08426e !important; /* Cambia este color al que desees */
  color: rgb(255, 255, 255) !important; /* Cambia el color del texto si es necesario */
  margin: 10px 5px;
}
.custom-btn:hover {
  background-color: #ffb6c1 !important; /* Cambia este color al que desees */
  color: rgb(0, 38, 82) !important; /* Cambia el color del texto si es necesario */
  margin: 10px 5px;
}



/* Estilos para los servicios */

.services-container {
  background-color: #BCCCE1; /* Color de fondo específico para este bloque */
  padding: 20px; /* Añadir relleno para un mejor espaciado */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centrando el texto y las imágenes */
}

.services-container h2 {
  color: rgb(0, 71, 102);
}

.services-container .row {
  margin-bottom: 20px;
}

.services-container img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho de su contenedor */
}

.services-container .service-description {
  margin-top: 10px;
}

.services-container p {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
}

.services-container .btn {
  margin-top: 10px;
  font-size: 0.9rem;

}
 /*our team */

.team-member-img {
  width: 500px; /* Ajusta el tamaño de las imágenes según tus preferencias */
  height: 500px;
  object-fit: cover; /* Ajusta el modo de ajuste para que las imágenes se vean bien en los círculos */
}


/*footer*/
.footer {
  background-color: #fff4e1;
  color: white;
  padding: 20px;
  margin-top: 70px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h4 {
 padding-bottom: 20px;
}
.contact-info,
.map-container {
  flex: 1;
  max-width: 50%;
  padding: 10px; /* Agrega un poco de espacio interno */
}

.contact-box,
.map-box {
  background-color: rgb(0, 38, 82);
  padding: 20px;
  border-radius: 8px;
}

.map-container {
  width: 100%; /* Ajusta el ancho del contenedor al 100% del espacio disponible */
  height: 300px; /* Establece una altura fija o ajusta según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}

.map-container iframe {
  width: 100%; /* Aprovecha todo el ancho del contenedor */
  height: 100%; /* Aprovecha toda la altura del contenedor */
  border-radius: 8px; /* Borde redondeado opcional */
}

.footer-info {
  margin-top: 20px;
  text-align: center;
  color: rgb(0, 38, 82);
}

.social-container {
  margin-top: 20px;
}

.social-container a {
  margin-right: 10px;
  color: #B5D0CC;
}

.social-container a:hover {
  color: #ffb6c1;
}

/* Espacio adicional entre el cuadro de información y el mapa */
.contact-info {
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}
/* Espacio adicional entre el cuadro de información y el mapa */
.contact-info {
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.urgencias-container {
  background-color: rgb(0, 38, 82);
  margin-top: 70px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: white;
}

.horario-container, .telefono-urgencias {
  background-color: #BCCCE1;
  border-radius: 8px;
  color: rgb(0, 38, 82);
}

.h4 {
  display: flex;
  align-items: center;
}

.h4 .mr-2 {
  margin-right: 8px;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
}

.p-3 {
  padding: 1rem;
}

/* contacto.js */

.contacto-container {
  background-color: rgb(0, 38, 82);
  padding: 20px;
  border-radius: 8px;
  box-shadow: white;
  margin-top: 60px;
  width: 50%; /* Ajusta el ancho del contenedor según sea necesario */
  margin-left: 26%; /* Ajusta el margen izquierdo según sea necesario */
  color: #fff; /* Color del texto dentro del contenedor */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 20px; /* Espacio entre cada caja de entrada */
}

.input-box:last-child {
  margin-bottom: 30px; /* Más espacio antes del botón de envío */
}

.contact-form .form-label {
  font-weight: bold;
  margin-bottom: 5px; /* Espacio bajo las etiquetas */
  color: #fff; /* Color del texto de las etiquetas */
}

.contact-form .form-control {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc; /* Borde de las cajas de entrada */
  background-color: #fff; /* Color de fondo de las cajas de entrada */
  color: #000; /* Color del texto dentro de las cajas de entrada */
}

.contact-form .mess {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc; /* Borde del área de texto */
  background-color: #fff; /* Color de fondo del área de texto */
  color: #000; /* Color del texto dentro del área de texto */
  min-height: 100px; /* Altura mínima del área de texto */
}

.contact-form .submit-btn {
  background-color: #ffb6c1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Ajuste de tamaño del botón */
  font-size: 14px; /* Ajuste de tamaño de la fuente del botón */
  width: 200px; /* Ajuste de ancho del botón */
  margin-left: 0; /* Ajuste del margen izquierdo del botón */
  align-self: center; /* Centrar el botón horizontalmente */
  color: #000; /* Color del texto del botón */
}

.text-center {
  text-align: center;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}


/* Peluqueria.js */

.social-icons {
  text-align: center; /* Centra los íconos horizontalmente */
  margin-top: 20px; /* Espacio superior respecto al título */
  margin-bottom: 20px; /* Espacio inferior respecto al formulario */
  padding-top: 10px; /* Espacio interior superior */
  padding-bottom: 10px; /* Espacio interior inferior */
  background-color: rgb(0, 38, 82);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-icons h4 {
  margin-bottom: 10px; /* Espacio inferior respecto al título */
  font-size: 1.2rem;
  color: #ffb6c1;
}

.social-icon {
  font-size: 2rem;
  color: #ffb6c1;
  transition: color 0.3s;
  margin: 0 5px; /* Espacio horizontal entre los íconos */
}

.social-icon:hover {
  color: #bccce1;
}

.peluqueria-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #94c6dc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

/* Estilos para el formulario de la peluquería */
.peluqueria-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Espacio entre redes sociales y formulario */
}

/* Estilos para los campos del formulario */
.input-box-peluqueria {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas de los campos */
.form-label-peluqueria {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
.form-control-peluqueria {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el campo de mensaje */
.mess-peluqueria {
  height: 100px; /* Ajustar según sea necesario */
  resize: vertical; /* Permite redimensionar verticalmente */
}

/* Estilos para el botón de enviar */
.submit-btn-peluqueria {
  background-color: rgb(0, 38, 82);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 30%;
  margin-left: 35%;
}

.submit-btn-peluqueria:hover {
  background-color: rgb(0, 71, 102);
}
/* Estilos para la sección de mensaje de confirmación */
.message-container {
  text-align: center;
  margin-top: 20px;
}

/* Estilos generales */
.text-center {
  text-align: center;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.intro {
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 90px;
}

.intro p {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 768px) {

  .logo {
    max-width: 200px; /* Tamaño máximo del logo en dispositivos pequeños */
    margin-top: 0px;
    padding-right: 0%;
  }
  .overlay-content {
   
   padding-right: 20px;
   max-height: 60%;
  }

  .overlay-content h1 {
    font-size: 24px;
  }

  .overlay-content p {
    font-size: 12px;
  }

  .btn-primary {
    font-size: 14px;
    padding-left: 8px 16px;
    
  }
  .btn-secondary {
    font-size: 14px;
    padding-right: 8px 16px;
    
  }

  .urgencias-container {
    padding: 15px;
    margin-top: 50px;
  }
  .horario-container, .telefono-urgencias {
    padding: 10px;
  }
  

  .contacto-container {
    width: 90%; /* Ajuste el ancho del contenedor principal para dispositivos móviles */
    max-width: none; /* Elimine el máximo ancho para ocupar el ancho completo en dispositivos pequeños */
    margin-left: 22px;
  }

  .intro h1 {
  
    padding-left: 25px;
  }

  .submit-btn-peluqueria {
    width: 40%;
    margin-left: 30%;
  }
}




  

  






